extends ../layout

block content
  if alarms
    -var agadirDone=[],casablancaDone=[],marrakechDone=[],meknesDone=[],oujdaDone=[],rabatDone=[],tangerDone=[]
    -var nbrsitesagadir=0,nbrsitescasablanca=0,nbrsitesmarrakech=0,nbrsitesmeknes=0,nbrsitesoujda=0,nbrsitesrabat=0,nbrsitestanger=0
    each alarm, al in alarms
      -var done = false
      -var villeVar =  alarm["location information"].match(/[A-Z]{3}-\d{2,4}/i) || alarm["alarm source"]
      -if(agadir.indexOf(villeVar[0]) !== -1)
        -if(agadirDone.indexOf(villeVar[0]+"/Huawei") == -1)
          -agadirDone.push(villeVar[0]+"/Huawei")
          -nbrsitesagadir++
          -done = true
      -if(!done)
        -if(casablanca.indexOf((villeVar[0] || villeVar)) !== -1)
          -if(casablancaDone.indexOf(villeVar[0]+"/Huawei") == -1)
            -casablancaDone.push(villeVar[0]+"/Huawei")
            -nbrsitescasablanca++
            -done = true;
      -if(!done)
        -if(marrakech.indexOf((villeVar[0] || villeVar)) !== -1)
          -if(marrakechDone.indexOf(villeVar[0]+"/Huawei") == -1)
            -marrakechDone.push(villeVar[0]+"/Huawei")
            -nbrsitesmarrakech++
            -done = true;
      -if(!done)
        -if(meknes.indexOf((villeVar[0] || villeVar)) !== -1)
          -if(meknesDone.indexOf(villeVar[0]+"/Huawei") == -1)
            -meknesDone.push(villeVar[0]+"/Huawei")
            -nbrsitesmeknes++
            -done = true;
      -if(!done)
        -if(oujda.indexOf((villeVar[0] || villeVar)) !== -1)
          -if(oujdaDone.indexOf(villeVar[0]+"/Huawei") == -1)
            -oujdaDone.push(villeVar[0]+"/Huawei")
            -nbrsitesoujda++
            -done = true;
      -if(!done)
        -if(rabat.indexOf((villeVar[0] || villeVar)) !== -1)
          -if(rabatDone.indexOf(villeVar[0]+"/Huawei") == -1)
            -rabatDone.push(villeVar[0]+"/Huawei")
            -nbrsitesrabat++
            -done = true;
      -if(!done)
        -if(tanger.indexOf((villeVar[0] || villeVar)) !== -1)
          -if(tangerDone.indexOf(villeVar[0]+"/Huawei") == -1)
            -tangerDone.push(villeVar[0]+"/Huawei")
            -nbrsitestanger++
            -done = true;
  if alarms_ericson
    each alarm_ericson, al in alarms_ericson
      -var done = false
      -var villeVar =  alarm_ericson["element  specificproblem"].match(/[A-Z]{2}\d{4}/i)
      -var index = nomination_erric.indexOf(villeVar[0])
      -var villeVar2 = nomination_erric_2[index]
      -console.log(villeVar[0]+" : "+villeVar2)
      -if(agadir.indexOf(villeVar2) !== -1)
        -if(agadirDone.indexOf(villeVar2+"/ericson") == -1)
          -agadirDone.push(villeVar2+"/ericson")
          -nbrsitesagadir++
          -done = true
      -if(!done)
        -if(casablanca.indexOf((villeVar2)) !== -1)
          -if(casablancaDone.indexOf(villeVar2+"/ericson") == -1)
            -casablancaDone.push(villeVar2+"/ericson")
            -nbrsitescasablanca++
            -done = true;
      -if(!done)
        -if(marrakech.indexOf((villeVar2)) !== -1)
          -if(marrakechDone.indexOf(villeVar2+"/ericson") == -1)
            -marrakechDone.push(villeVar2+"/ericson")
            -nbrsitesmarrakech++
            -done = true;
      -if(!done)
        -if(meknes.indexOf((villeVar2)) !== -1)
          -if(meknesDone.indexOf(villeVar2+"/ericson") == -1)
            -meknesDone.push(villeVar2+"/ericson")
            -nbrsitesmeknes++
            -done = true;
      -if(!done)
        -if(oujda.indexOf((villeVar2)) !== -1)
          -if(oujdaDone.indexOf(villeVar2+"/ericson") == -1)
            -oujdaDone.push(villeVar2+"/ericson")
            -nbrsitesoujda++
            -done = true;
      -if(!done)
        -if(rabat.indexOf((villeVar2)) !== -1)
          -if(rabatDone.indexOf(villeVar2+"/ericson") == -1)
            -rabatDone.push(villeVar2+"/ericson")
            -nbrsitesrabat++
            -done = true;
      -if(!done)
        -if(tanger.indexOf((villeVar2)) !== -1)
          -if(tangerDone.indexOf(villeVar2+"/ericson") == -1)
            -tangerDone.push(villeVar2+"/ericson")
            -nbrsitestanger++
            -done = true;


  script(type="text/javascript").
    function toggleDivElement(id){
      var image = document.getElementById(id+"Image");
      var divElement = document.getElementById(id);
      if(image.style.backgroundImage=="url(\"/images/show.png\")"){
        image.style.backgroundImage="url(\"/images/hide.png\")";
        divElement.style.display="block";
      }
      else{
        image.style.backgroundImage="url(\"/images/show.png\")";
        divElement.style.display="none";
      }
    }


  .row
    if agadirDone
      .col-5.offset-1(style="border-width:5px;border-style:groove;margin-top:20px")
        .row
          .col-9
            h6  Agadir
          .col-2
            h6(style="left: 100%;")  #{nbrsitesagadir}
        .row
          .col-5
            hr
          .col-2
            button.showHide#agadirImage(onclick="toggleDivElement('agadir')")
              span  cancel
          .col-5
            hr
        #agadir(style="display:none;")
          p(style="font-size:11px")
            each ag, i in agadirDone
              -var code = ag.substring(0,8)
              a(href="/siteshs/site/"+ag , target="_blank",style="display:inline") #{code}
              if(i !== agadirDone.length-1)
                |  -
    if casablancaDone
      .col-5(style="border-width:5px;border-style:groove;margin-top:20px")
        .row
          .col-9
            h6  Casablanca
          .col-2
            h6(style="left: 100%;")  #{nbrsitescasablanca}
        .row
          .col-5
            hr
          .col-2
            button.showHide#casablancaImage(onclick="toggleDivElement('casablanca')")
              span  cancel
          .col-5
            hr
        #casablanca(style="display:none;")
          p(style="font-size:11px")
            each ca, i in casablancaDone
              -var code = ca.substring(0,8)
              a(href="/siteshs/site/"+ca , target="_blank",style="display:inline") #{code}
              if(i !== casablancaDone.length-1)
                |  -
    if marrakechDone
      .col-5.offset-1(style="border-width:5px;border-style:groove;margin-top:20px")
        .row
          .col-9
            h6  marrakech
          .col-2
            h6(style="left: 100%;")  #{nbrsitesmarrakech}
        .row
          .col-5
            hr
          .col-2
            button.showHide#marrakechImage(onclick="toggleDivElement('marrakech')")
              span  cancel
          .col-5
            hr
        #marrakech(style="display:none;")
          p(style="font-size:11px")
            each ma, i in marrakechDone
              -var code = ma.substring(0,8)
              a(href="/siteshs/site/"+ma , target="_blank",style="display:inline") #{code}
              if(i !== marrakechDone.length-1)
                |  -
    if meknesDone
      .col-5(style="border-width:5px;border-style:groove;margin-top:20px")
        .row
          .col-9
            h6  meknes
          .col-2
            h6(style="left: 100%;")  #{nbrsitesmeknes}
        .row
          .col-5
            hr
          .col-2
            button.showHide#meknesImage(onclick="toggleDivElement('meknes')")
              span  cancel
          .col-5
            hr
        #meknes(style="display:none;")
          p(style="font-size:11px")
            each me, i in meknesDone
              -var code = me.substring(0,8)
              a(href="/siteshs/site/"+me , target="_blank",style="display:inline") #{code}
              if(i !== meknesDone.length-1)
                |  -
    if oujdaDone
      .col-5.offset-1(style="border-width:5px;border-style:groove;margin-top:20px")
        .row
          .col-9
            h6  oujda
          .col-2
            h6(style="left: 100%;")  #{nbrsitesoujda}
        .row
          .col-5
            hr
          .col-2
            button.showHide#oujdaImage(onclick="toggleDivElement('oujda')")
              span  cancel
          .col-5
            hr
        #oujda(style="display:none;")
          p(style="font-size:11px")
            each ou, i in oujdaDone
              -var code = ou.substring(0,8)
              a(href="/siteshs/site/"+ou , target="_blank",style="display:inline") #{code}
              if(i !== oujdaDone.length-1)
                |  -
    if rabatDone
      .col-5(style="border-width:5px;border-style:groove;margin-top:20px")
        .row
          .col-9
            h6  rabat
          .col-2
            h6(style="left: 100%;")  #{nbrsitesrabat}
        .row
          .col-5
            hr
          .col-2
            button.showHide#rabatImage(onclick="toggleDivElement('rabat')")
              span  cancel
          .col-5
            hr
        #rabat(style="display:none;")
          p(style="font-size:11px")
            each ra, i in rabatDone
              -var code = ra.substring(0,8)
              a(href="/siteshs/site/"+ra , target="_blank",style="display:inline") #{code}
              if(i !== rabatDone.length-1)
                |  -
    if tangerDone
      .col-5.offset-1(style="border-width:5px;border-style:groove;margin-top:20px")
        .row
          .col-9
            h6  tanger
          .col-2
            h6(style="left: 100%;")  #{nbrsitestanger}
        .row
          .col-5
            hr
          .col-2
            button.showHide#tangerImage(onclick="toggleDivElement('tanger')" href="/#tanger")
              span  cancel
          .col-5
            hr
        #tanger(style="display:none;")
          p(style="font-size:11px")
            each ta, i in tangerDone
              -var code = ta.substring(0,8)
              a(href="/siteshs/site/"+ta , target="_blank",style="display:inline") #{code}
              if(i !== tangerDone.length-1)
                |  -
    .col-5.text-center(style="border-width:5px;border-style:groove;margin-top:20px")
      table(style="width:100%;")
        tr
          th  Ville
          th  Nombre de sites HS
        tr
          td  agadir
          td  #{nbrsitesagadir}
        tr
          td  casablanca
          td  #{nbrsitescasablanca}
        tr
          td  marrakech
          td  #{nbrsitesmarrakech}
        tr
          td  meknes
          td  #{nbrsitesmeknes}
        tr
          td  Oujda
          td  #{nbrsitesoujda}
        tr
          td  rabat
          td  #{nbrsitesrabat}
        tr
          td  tanger
          td  #{nbrsitestanger}
