extends ../layout

block content
  -var index = 0
  -var alarmesSites = []
  -var sommeDuree = 0
  each alarm, al in alarms
    -var siteID =  alarm["location information"].match(/[A-Z]{3}-\d{2,4}/i) || alarm["mo name"].match(/[A-Z]{3}-\d{2,4}/i)
    -if(siteID !== null && siteID[0] == site && alarm["clearance status"] == "Cleared")
      -var temp = {}
      -var alarmName = alarm["name"]
      -var tech=""
      -if(alarmName =="NodeB Unavailable")
        -tech = "2G"
      -if(alarmName == "OML Fault")
        -tech = "3G"
      -if(alarmName == "NE Is Disconnected")
        -tech = "4G"
      -if(tech !== "")
        -temp.siteID = siteID[0]
        -temp.date_debut=alarm["first occurred (nt)"]
        -temp.date_fin = alarm["cleared on (nt)"]
        -temp.technology = tech
        -var date1 = alarm["first occurred (nt)"]
        -var date2 = alarm["cleared on (nt)"]
        -var j1 = parseInt(date1.substring(3,5)), h1 = parseInt(date1.substring(11,13)) , m1 = parseInt(date1.substring(14,16)) , s1 = parseInt(date1.substring(17,19))
        -var j2 = parseInt(date2.substring(3,5)), h2 = parseInt(date2.substring(11,13)) , m2 = parseInt(date2.substring(14,16)) , s2 = parseInt(date2.substring(17,19))
        -temp.duree = (j2-j1)*86400 + (h2-h1)*3600 + (m2-m1)*60 + (s2-s1)
        -sommeDuree += temp.duree
        -alarmesSites[index]=temp
        --index++


  .jumbotron
    .empty25
    .row.text-center
      .col-4
        h6  Site ID : #{site}
      .col-4
        h6  ZI : #{adresses[0][site]}
      .col-4
        h6  Durrée totale : #{sommeDuree} s
    table.text-center(style="width:100%")
      tr
        th  Date de début d'incident
        th  Date de fin d'incident
        th  Technologie
        th  Durée
      each alarmeSite, as in alarmesSites
        tr
          td  #{alarmeSite.date_debut}
          td  #{alarmeSite.date_fin}
          td  #{alarmeSite.technology}
          td  #{alarmeSite.duree} s
